.image-skeleton-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Cuando se usa con la clase product-img, mantener las mismas dimensiones */
.image-skeleton-wrapper.product-img {
  width: 80%;
  aspect-ratio: 1 / 1;
}

/* Cuando se usa con la clase search-img, mantener las mismas dimensiones */
.image-skeleton-wrapper.search-img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

/* Cuando se usa con la clase cart-item-img, mantener las mismas dimensiones */
.image-skeleton-wrapper.cart-item-img {
  width: clamp(90px, 20%, 180px);
  aspect-ratio: 1 / 1;
}

/* Cuando se usa con la clase first-slider-img, mantener las mismas dimensiones */
.image-skeleton-wrapper.first-slider-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.image-skeleton-wrapper.first-slider-img .image-skeleton-img {
  border-radius: 30px;
  object-fit: cover;
}

/* Cuando se usa con la clase promo-icons, mantener las mismas dimensiones */
.image-skeleton-wrapper.promo-icons {
  width: 75px;
  height: 75px;
}

/* Cuando se usa con la clase promo-img, mantener las mismas dimensiones */
.image-skeleton-wrapper.promo-img {
  width: 320px;
  height: 380px;
  border-radius: 20px;
}

/* Cuando se usa con la clase business-badge-img, mantener las mismas dimensiones */
.image-skeleton-wrapper.business-badge-img {
  position: absolute;
  top: -105px;
  width: 210px;
  height: 210px;
  border-radius: 50%;
}

/* Cuando se usa con la clase business-small-img, mantener las mismas dimensiones */
.image-skeleton-wrapper.business-small-img {
  width: 45px;
  height: 45px;
}

.image-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  z-index: 1;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.image-skeleton-img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}

.image-skeleton-img.loaded {
  opacity: 1;
}

.image-skeleton-img.loading {
  opacity: 0;
}
